body{background-color: #FFFFFF!important;}
.headColor{color: #f56c0b;}
.logo{display: block;}
.logo img{height: 1.48rem;line-height: 2.2rem;    margin-top: 0.35rem;}
.headtitle{font-size: 0.5rem;
    color: #464646;
    line-height: 1.5rem;
    bottom: 0.1rem;
    letter-spacing: .05rem;}
.bannerImg img{width: 100%;height: 10.13rem;display: block;}
.dotPos{text-align: left!important;bottom: 2rem!important;}
.dotPos    .swiper-pagination-bullet{background-color: #b2b2b2;}
 .dotPos    .swiper-pagination-bullet-active{background-color: #FFFFFF;}
.btnBg{background-color: #f56d0a!important;}
.page, .page-group{background-color: #FFFFFF;!important}
header{background-color: #FFFFFF!important}
.zbjh .list img{width:100%;display: block;}

.zbjh .list p{background-color: #e4e4e4;
    margin: 0;
    font-size: 0.68rem;
    color: #333;
    height: 1.39rem;
    line-height: 1.39rem;
    padding-left: 0.3rem;}
.zb{background-color: transparent!important;}
.marTop{margin-top: 0.8rem;}
.jwlx img{width: 60%!important;margin: 0 auto;}
.hg{padding-top:1.3rem;}
.hg img{height: 5.36rem;}
.marTop .inner img{height: 4.34rem;}
.jwlx img{height: 5.39rem;}
.qingyouCenter{margin-top: 0.9rem;position: relative;}
.qingyouCenter p{position: absolute;bottom: 0;left: -4.5rem;}
.categorize .row{overflow: visible;}
.borderbg{background-color: #f8f8f8;height: 0.37rem;width: 100%;}
.load img{width: 100%;height: 3.93rem;border-radius: 0.3rem;}
.load h6{margin: 0.2rem;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;font-size: 0.68rem;color: #333333;}
.load p{margin: 0;
    margin-top: 0.8rem;
    color: #f56d0a;
    font-size: 0.45rem;}
.load .list{padding-bottom: 0.2rem;border-bottom: 1px solid #DDDDDD;padding-top: 0.5rem;}
.load .list a{display: block;}


.line{width: 0.15rem;
    background-color: #F67416;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;}
.loadtitle span{    color: #333;
    font-size: 0.68rem;}
.loadtitle{border-bottom: 1px solid #DDDDDD;padding-bottom: 0.5rem}
/*个人信息*/
.headPic{max-height:3rem!important ;}
.headPic img{width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;}
.personalInfo{font-size: 0.68rem;color: #999999;}
.graybg{background-color: #f8f8f8!important;}
/*个人中心*/
.personCenterHead>img{width: 100%;height: 9.78rem;	display: block;}
.personCenterHead{position: relative;}
.personCenterHead .header{    position: absolute;
    width: 100%;
    top: 2rem;
    color: #fff;font-size: 0.63rem;}
.personCenterHead .header a{color: #FFFFFF;padding-top: 1rem;}
.personCenterHead .header img{
width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    vertical-align: middle;
}
.personCenterHead .header p{margin: 0.3rem;}
.lookOrder{width: 100%;display: block;font-size: 0.63rem;color: #333333;}
.disMar{margin: 0;}
.lookOrder img {vertical-align: middle;width: 1rem;height:1rem;margin-right: 0.2rem;}
.typeList .list{    display: block;
    font-size: 0.48rem;
    color: #333;border-right: 1px solid #eae8e8;}
 /*.typeList .list:last-child{border-right: none;}*/     
.typeList .list img{ display: inline-block;width: 2rem;}
.typeList .list p{margin: 0.1rem 0;margin-bottom: 0.4rem;}
.typeList{padding-top: 0.3rem;}  
/*新闻详情*/
.h-news{padding-top:2rem;}
.h-title{font-size: 0.68rem;
    color: #333;}
.h-info{font-size: 0.5rem;
    color: #999;
    margin-top: 0.4rem;
    margin-bottom: 1rem;}
.p-detail{padding-bottom: 1rem;}
/*新闻*/
.newsSty h6{font-size: 0.68rem;color: #464646;}
.newsSty p{font-size: 0.58rem;color: #999999;}
.main{padding-bottom: 1rem;}
/*账户余额*/
.balance .item{border-bottom: 1px solid #DDDDDD;    padding: 0.6rem 0;}
.balance .item span:nth-child(1){font-size: 0.63rem;color: #666;}
.balance .item span:nth-child(2){font-size: 0.8rem;color: #ff5704;}
.balance .item .date{font-size: 0.58rem;color: #999999;}
